local.properties
.idea/
*iml
out
project.properties
tus/gen/*
gen/
aa-gen
.apt_generated
bin/
*.class
*.war
*.ear
*.apk
*.ap_
*.dex
*.class
R.java
.classpath
.project
.settings/
*.iws
.DS_Store
log/
target/
tmp