<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.fiveminutes.cipele46"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <application
        android:name="eu.fiveminutes.cipele46.app.CipeleApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="eu.fiveminutes.cipele46.activity.MainActivity"
            android:label="@string/app_name"
            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.fiveminutes.cipele46.activity.FilterActivity"
            android:icon="@drawable/action_bar_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.NewAdActivity"
            android:icon="@drawable/action_bar_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.AdDetailsActivity"
            android:icon="@drawable/action_bar_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.UserSettingsActivity"
            android:icon="@drawable/action_bar_icon"
            android:label="@string/title_activity_user_settings"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.SendEnquiryActivity"
            android:icon="@drawable/action_bar_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.FavoriteAdsActivity"
            android:label="@string/favorite_ads"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.ActiveAdsActivity"
            android:label="@string/active_ads"
            android:screenOrientation="portrait" />
        <activity
            android:name="eu.fiveminutes.cipele46.activity.ClosedAdsActivity"
            android:label="@string/closed_ads"
            android:screenOrientation="portrait" />
    </application>

</manifest>